<mat-toolbar>
  <mat-toolbar-row>
    <form [formGroup]="pokeForm" (ngSubmit)="pokeInfo()">
      <mat-form-field>
        <mat-label>Pokemon</mat-label>
        <input type="text" name="pokemonName" matInput placeholder="Qual o Pokemon?" formControlName="name">
      </mat-form-field>
      <button type="submit" mat-mini-fab color="warn">
        <mat-icon>radio_button_checked</mat-icon>
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="pokemon">
  <mat-card-title>
    <span>Nome: {{pokemon.name | uppercase}}</span><br>
    <span>Id: {{pokemon.id}}</span><br>
    <span>Tipo: {{pokemon.types[0].type.name | uppercase}}</span>
  </mat-card-title>
  <mat-card-content >
    <img matCardImage [src]="pokemon.sprites.front_default">
  </mat-card-content>
</mat-card>